@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-color-info: #fef100;
  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-text-color-info: #374151;
  --toastify-toast-background: #fef100;
}

.Toastify__close-button {
  color: #465366;
}

.Toastify__close-button:hover,
.Toastify__close-button:focus {
  color: #262d38;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f4f4f4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e4e4e4;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d4d4d4;
}

body {
  line-height: 1.5;
  letter-spacing: 0.2px;
}
